<!--테이블 헤더 고정-->
.table{
  border-collapse:collapse;
  width:100%
}
.table thead{
  float: left;
  width: 100%;
}
.table tbody{
  overflow-y:auto;
  overflow-x:hidden;
  float:left; width:100%;
  height:500px
}


